
#weather p {

    display: flex;
    align-items: center;
}

#icono_weather {
    width: 70px;
}

#temperatura {
    width: 70px;
    font-weight: 600;
    border-left: solid 2px #000;

}

section {

    margin:auto;
    margin-top: 12%;
    padding-top:50px;
    text-align: center;
    width: 800px;
    height: 500px;
    background-image: url("img/blob.svg");
    background-repeat: no-repeat;
    background-position: center; 
}

#contenido_acudit {

    width: 500px;
    text-align: center;
    margin:auto;
}

#weather {

    position:absolute;
    top:5px;
    left:15px;
}

h1 {
    text-align: center;
}

#contenido_acudit {

    height: 80px;
}

.primary_button {

    z-index: 2;
    padding: 20px;
    margin-top: 20px;
    border-style: solid;
    border-color: #000;
    border-radius: 100px;
    background-color: rgb(255, 221, 0);
    font-weight: 600;
}

.fa-2x {
    color: rgb(255, 221, 0);
    margin:10px;
}


#botones_score button {
    background:none;
    border-style: none;
}